/*
 *
 */
.root {
    -fx-negative-color: #dd3300;
    -fx-positive-color: #53912a;
}

.box-recessed {
    -fx-border-color: derive(-fx-base, -20%)  derive(-fx-base, +5) derive(-fx-base, +5) derive(-fx-base, -20%), derive(-fx-base, -60%)  derive(-fx-base, +10) derive(-fx-base, +10) derive(-fx-base, -60%);
    -fx-border-insets: 0 0 0 0, 1 1 1 1;
    -fx-border-width: 1 1 1 1, 1 1 1 1;
}

.alarm-text {
    -fx-text-fill: #aa0000;
    -fx-font-size:1.2em;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.9), 5, 0.8, 0, 0);
}

/* For table columns */
.column-align-left,
.column-align-left .label {
    -fx-alignment: CENTER_LEFT;
}
.column-align-center,
.column-align-center .label {
    -fx-alignment: CENTER;
}
.column-align-right,
.column-align-right .label {
    -fx-alignment: CENTER_RIGHT;
}

.html-field-list-cell:focused:selected {
    -fx-background-color: -fx-control-inner-background;
}
/* the same for the odd rows */
.html-field-list-cell:odd:focused:selected {
    -fx-background-color: -fx-control-inner-background;
}
.html-field-list-cell {
    -fx-padding: 0.3em 0.3em 0.0em 0.3em;
    -fx-background-color: -fx-control-inner-background;
}

.headline {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size:1.3em;
/*    -fx-effect: dropshadow( gaussian, rgba(48,205,48,0.8), 5, 0.3, 0, 0);*/
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.9), 5, 0.4, 0, 0);
}

.combo-status .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0em 0.0em 0.0em;
}

.combo-status .arrow-button .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0em 0em 0em 0em;
    -fx-shape: null;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background -fx-background derive(-fx-base, -20%) -fx-background;
}

.tooltip {
-fx-text-fill: #333333;
-fx-background-color:
    linear-gradient(#cec340, #a59c31),
    linear-gradient(#fefefc, #e6dd71),
    linear-gradient(#fef592, #e5d848);
-fx-background-insets: 0,1,2;
-fx-background-radius: 5 5 5 5;
-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.progress-dialog {
    -fx-graphic: url("../images/dialog-information.png");
}

/*
 ****************** Common Generic styles ******************************
 */
.stdtext {
    -fx-fill: -fx-text-background-color;
}
.stdtext:focused:selected {
    -fx-fill: white;
}
.stdtext-mark {
    -fx-fill: #dd2222;
    -fx-underline: true;
    -fx-font-weight: bold;
}
.stdtext-flow {
    -fx-padding: 0.166667em 0 0.166667em 0;
}
.stdtext-headline {
    -fx-font-weight: bold;
    -fx-font-size:1.1em;
    -fx-padding: 0px 0px 0px 4px;  
}

